.buttonContainer{
    line-height: 20px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: var(--gray900);
    background-color: var(--gray0);
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-image: initial;
    border-color: var(--gray250);
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex: 1;
    border-radius: 0px;
    padding: 8px;
    font-size: 0px;
    background-size: 24px;
}
.buttonContainer:hover{
    background-color: lightgray;
}

.leftButtonContainer{
    border-left-width: 1px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.rightButtonContainer{
    border-width: 1px 1px 1px 1px;
    border-right-width: 1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.buttonRowContainer{
    max-width: 326px;
    height: 40px;
    margin-bottom: 12px;
    margin-left: 8px;
    margin-top: 12px;
    flex-direction: row;
    display: flex;
}
.iconContainer{
    
}